# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# typecheck/build caches
*.tsbuildinfo

# React Native (bare ise)
android/.gradle/
android/build/
android/app/build/
ios/build/

# credentials / keys
*.keystore
*.jks
*.p12
google-services.json
GoogleService-Info.plist